#logo {
  display: flex;
}

.img-fluid {
  border-radius: 25px;
}

.col-md-4.mb-5.mb-lg-0 {
  margin: auto;
}

.modal-content{
  border-radius: 25px;
}
.d-flex.portfolio-item-caption.position-absolute.h-100.w-100 {
  border-radius: 25px;
}

